Adventure14/Adventure14/Service References/DataWebService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getListEmployees">
        <s:complexType />
      </s:element>
      <s:element name="getListEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListEmployeesResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BusinessEntityID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListDepartments">
        <s:complexType />
      </s:element>
      <s:element name="getListDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListDepartmentsResult" type="tns:ArrayOfDepartments" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDepartments">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Departments" nillable="true" type="tns:Departments" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Departments">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getEmployeeByDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmployeeByDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmployeeByDepartmentResult" type="tns:ArrayOfDepartmentEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDepartmentEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentEmployee" nillable="true" type="tns:DepartmentEmployee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepartmentEmployee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BusinessEntityID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="getProductCulture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="culture" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductCultureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductCultureResult" type="tns:ArrayOfProductView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductView" nillable="true" type="tns:ProductView" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CultureID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getListEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:getListEmployees" />
  </wsdl:message>
  <wsdl:message name="getListEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:getListEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="getListDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:getListDepartments" />
  </wsdl:message>
  <wsdl:message name="getListDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:getListDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeeByDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:getEmployeeByDepartment" />
  </wsdl:message>
  <wsdl:message name="getEmployeeByDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:getEmployeeByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="getProductCultureSoapIn">
    <wsdl:part name="parameters" element="tns:getProductCulture" />
  </wsdl:message>
  <wsdl:message name="getProductCultureSoapOut">
    <wsdl:part name="parameters" element="tns:getProductCultureResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getListEmployees">
      <wsdl:input message="tns:getListEmployeesSoapIn" />
      <wsdl:output message="tns:getListEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListDepartments">
      <wsdl:input message="tns:getListDepartmentsSoapIn" />
      <wsdl:output message="tns:getListDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeByDepartment">
      <wsdl:input message="tns:getEmployeeByDepartmentSoapIn" />
      <wsdl:output message="tns:getEmployeeByDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProductCulture">
      <wsdl:input message="tns:getProductCultureSoapIn" />
      <wsdl:output message="tns:getProductCultureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListEmployees">
      <soap:operation soapAction="http://tempuri.org/getListEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListDepartments">
      <soap:operation soapAction="http://tempuri.org/getListDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeByDepartment">
      <soap:operation soapAction="http://tempuri.org/getEmployeeByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductCulture">
      <soap:operation soapAction="http://tempuri.org/getProductCulture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListEmployees">
      <soap12:operation soapAction="http://tempuri.org/getListEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListDepartments">
      <soap12:operation soapAction="http://tempuri.org/getListDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeByDepartment">
      <soap12:operation soapAction="http://tempuri.org/getEmployeeByDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductCulture">
      <soap12:operation soapAction="http://tempuri.org/getProductCulture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:64832/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:64832/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>